body, button {
  font-family: 'Georgia', serif;
  font-size: 2rem;
}

.tag {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 1px;
  padding: 0.2rem 0.8rem;
  display: inline-flex;
  width: fit-content;
  border: 2px solid black;
}

.muted {
  opacity: 0.4;
}

button {
  font-size: 2rem;
}